---
import LanguageMatch from '#components/elements/LanguageMatch.astro'
import Time from '#components/elements/Time.astro'
import { GitHub } from '#components/svg'

export interface Props {
  full_name: string
  description: string
  updated_at: string
  html_url: string
  language: string
}

const { full_name, description, updated_at, html_url, language } = Astro.props
---

<div class='card'>
  <a href={html_url} rel='noopener noreferrer prefetch' target='_blank'>
    <h2 class='title'>{full_name}</h2>
  </a>
  <p class='description'>{description}</p>
  <footer class='footer'>
    <GitHub />
    <LanguageMatch language={language} />
    <Time date={updated_at} class='time' />
  </footer>
</div>

<style lang='scss'>
  .card {
    @include card;
    align-content: space-between;
  }
  .title {
    font-weight: 600;
    font-size: 1.3em;
  }
  .description {
    font-size: 0.88em;
    @include textCut;
  }
  .footer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
